extends ./layout.jade

block content
	h1 index
	div#images
		each image in images
			img(
				src=image.src
			)
	div.upload
		form(
			action="/upload"
			method="post"
			enctype="multipart/form-data"
		)
			input(
				type="file"
				name="images"
				multiple="multiple"
				value=""
			)
			input(
				type="submit"
				value="go"
			)
			div.gallery
