button.nav-trigger
	span Menu
nav.nav
	ul
		li._home
			a(
				href='/'
				title='Albums'
			) Albums
		li._edit
			a(
				href='/edit'
				title='Modifier'
			) Modifier
		li._user
			a(
				href='/user'
				title='Profil'
			) Profil

