div.thumb(
		data-filename=filename
	)
	figure
		img(
			src=src
			alt=filename
		)
	div.check
		label
			input(
				type="radio"
				name="upload_#{index}"
				value="valid"
				checked)
			span valid
		label
			input(
				type="radio"
				name="upload_#{index}"
				value="cancel")
			span cancel
