extends ../layout.jade

block content
	div.form.-add
		div._header
			h4 Ajouter un utilisateur
		div._content
			form(
				method='post'
				novalidate
			)
				div._input.-text.input
					input(
						type='text'
						name='name'
						placeholder='Nom'
						value= name || ''
						autofocus
					)
				div._input.-text.input
					input(
						type='email'
						name='email'
						placeholder='E-mail'
						value= email || ''
					)
				div._input.-select.input
					select(
						name='permission'
						placeholder='E-mail'
					)
						each val, key in permissions
							option(
								name=key
							) #{val}
				div._input.-submit.input
					input(
						type='submit'
						value='Go'
					)
					if error
						p.error
							each val in error
								=val
					if message
						p.message #{message}

